.Header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 85%;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 200px;
    animation: roll-in-left 2s ease forwards;
    /*filter: drop-shadow(0 0 15px #ffffff);*/
}

.logo:hover {
    filter: invert(0.15);
}

@keyframes roll-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes roll-in-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}



.overlay {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.overlay div p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.socials {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: roll-in-right 2s ease;
}

.socials img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.socials img:hover {
    filter: brightness(20%);
}

.links {
    margin-top: 30px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    animation: roll-in-right 2s ease;
}

.links p:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
    .logo {
        width: 150px;

    }
    .overlay div p {
        font-size: 20px;
    }
    .socials {
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    .overlay div {
        flex-direction: column;
    }
    .links p {
        margin: 10px 0;
    }
    .links {
        margin-top: 0;
        width: 100px;
    }
}

@media only screen and (max-width: 350px) {
    .logo {
        width: 120px;
    }
}
