.Header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 85%;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 200px;
}

.overlay {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.overlay div p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    font-size: 22px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.socials {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.links {
    margin-top: 30px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .logo {
        width: 150px;

    }
    .overlay div p {
        font-size: 20px;
    }
    .socials {
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    .overlay div {
        flex-direction: column;
    }
    .links p {
        margin: 10px 0;
    }
}
