.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.image {
    width: 120px;
    height: 120px;
    /*border-radius: 50%;*/
    /*border: 1px #9747FF solid;*/
}

.border {
    border: 1px #9747FF solid;
}
.rounded {
    border-radius: 50%;
}
.classic {
    border: 0;
}

.title {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin: 15px 0;
}
.text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: center;

}

.standard {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}

.standard-size{
    width: 300px;

}
.smaller-size {
    width: 250px;
}

.smaller-size.image {
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 1900px) {
    .Card {
        width: 300px;
    }
}

@media only screen and (max-width: 1670px) {
    .Card {
        width: 250px;
    }
    .text {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1460px) {
    .Card {
        width: 200px;
    }
    .text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1100px) {
    .Card {
        width: 350px;
    }
    .text {
        font-size: 16px;
    }
}
