.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.bgBlack {
    width: 50%;
    position: absolute;
    height: 100%;
    left:0;
    z-index: -10;
    background: linear-gradient(180deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
}

.bgPurple {
    width: 50%;
    position: absolute;
    height: 100%;
    right:0;
    z-index: -10;
    background: linear-gradient(180deg, rgba(179,121,255,1) 0%, rgba(109,39,200,1) 100%);
}

.plane {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}