.InputFormWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.InputFormWrapper label {
    font-family: "Overlock", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    margin-bottom: 6px;
}
